@{
    ViewData["Title"] = "Payment Confirmation";
}

<div class="container mt-5 text-center">
    <h1 class="text-success">Payment Successful</h1>
    <p>Thank you for your purchase! Your payment has been successfully processed.</p>
    <a asp-action="UserIndex" asp-controller="Category" class="btn btn-primary mt-3">Continue Shopping</a>
</div>
