@model CategoryViewModel
<!-- Specifies that the view expects a CategoryViewModel object -->
@{
    ViewBag.Title = "Edit Category"; // Sets the page title to "Edit Category"
}

<!-- Display the current category image -->
<img src="/CategoryImages/@Model.ImageViewModel.ImageName" width="200px" class="rounded" />

<!-- Render a partial view for changing the category image -->
<partial name="_ChangeCategoryForm" model="new CategoryImage() { Id = Model.Id }" />

<!-- Form for editing category details -->
<form method="post" asp-action="Edit" asp-route-PageNumber="@ViewBag.pageIndex">
    <div class="card mt-3">
        <div class="card-header">
            <h3 class="card-title">Edit Category</h3>
        </div>
        <div class="card-body">
            <!-- Hidden input to store the category ID -->
            <input hidden asp-for="Id" value="@Model.Id" />

            <!-- Input for category name -->
            <div class="form-group">
                <label asp-for="Name" class="control-label mb-2"></label> <!-- Label for Name -->
                <input asp-for="Name" value="@Model.Name" class="form-control" /> <!-- Input field for Name -->
                <span asp-validation-for="Name" class="text-danger"></span> <!-- Validation message for Name -->
            </div>

            <!-- Input for category description -->
            <div class="form-group">
                <label asp-for="Description" class="control-label mb-2"></label> <!-- Label for Description -->
                <input asp-for="Description" value="@Model.Description" class="form-control" /> <!-- Input field for Description -->
                <span asp-validation-for="Description" class="text-danger"></span> <!-- Validation message for Description -->
            </div>

            <!-- Submit button -->
            <div class="mt-2">
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
        </div>
    </div>
</form>

<!-- Back to List link -->
<div class="mt-0">
    <a asp-action="Index" class="page-link text-center text-black font-monospace">Back to List</a>
</div>

@section Scripts {
    <!-- Include validation scripts for client-side validation -->
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
